body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 1500px;

    background-image: url(/img/wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 500px;
}

body * {
    border: solid red 1px;
}

.banner {
    padding: 0;
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
}

a.navbar-brand {
    width: 75px;
    height: 75px;

    background-image: url("/img/Logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


main {
    background-color: whitesmoke;
}