body{
	background-color: #F8F8F8 !important;
}

.responsive{
	width: 100%;
	height: auto;
}

.recipe{
	text-align: center;
}
.recipeimg{
	padding-left: 10px;
	float:right;
	max-height: auto;
	max-width: 400px;
	width: 100%;
	height: auto;
}

.content{
	margin-top: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.colborder{
	border-top: 2px #D3D3D3;
	border-bottom: 0px;
	border-style: solid none;
}
.colborderbot{
	border-top: 0px;
	border-bottom: 2px #D3D3D3;
	border-style: solid none;
}

[class*="col-"] {
	margin: auto;
	margin-top: 20px;
	float: center;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}