#yeet{
	padding-top: 40px;
	margin: auto;
	max-width:1500px;
}


* {
  box-sizing: border-box;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: lightblue;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.banner{
	max-height: 200px;
}

.column{
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px;
	
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.responsive{
	width: 100%;
	height: auto;
}

.recipe{
	text-align: center;
}
.recipeimg{
	float:right;
	max-height: auto;
	max-width: 400px;
	width: 100%;
	height: auto;
}
.product{
	padding-bottom: 10px;
	border-top: 2px #D3D3D3;
	border-bottom: 0px;
	border-style: solid none;
}