body {
  background-color: #fff;
}

footer {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 50px;
}

.difficulties {
  background-color: black;
}

.difficulties h2 {
  width: 100%;
  color: aquamarine;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.difficulties img {
  width: 80%;
  margin-left: 10%;
  height: 800px;
}
header h1 {
  background-color: cadetblue;
  color: orange;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.history {
  display: inline-block;
  background-color: black;
  color: #fff;
  font-size: 18px;
}

.history img {
  width: 70%;
  height: 100%;
  float: left;
  margin-right: 10px;
}

.history h2 {
  color: aquamarine;
  padding-top: 10px;
}

.types {
  background-color: black;
  text-align: center;
}

.types h2 {
  color: aquamarine;
  padding-top: 10px;
}

.types h3 {
  color: aquamarine;
  padding-top: 10px;
}

.types p {
  color: white;
}

.types img {
  width: 80%;
}

.types ol {
  color: aquamarine;
  display: inline-block;
  text-align: left;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: darkmagenta;
}
a:hover {
  color: blue;
}
